{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <article class="media content-section">


      <div class="media-body">
        {{ comment.content }}
        <br>
        <small>via {{ comment.author }} on {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1%}s{% endif %} | {% endif %} {% if request.user == comment.author %}<a href="{{ comment.get_delete_url }}">Delete</a>{% endif %}</small>

        <div class="comment-reply">
          {% for child_comment in comment.children %}
          <div class="media content-section pt-0 mt-0">
            <div class="media-body">
              <br>{{ child_comment.content }}
              <br>
              <small>via {{ child_comment.author }} on {{ child_comment.timestamp|timesince }} ago | {% if request.user == child_comment.author %}<a href="{{ child_comment.get_delete_url }}">Delete</a>{% endif %}</small>
            </div>
          </div>
          {% endfor %}
          {% if request.user.is_authenticated %}
            <form method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="hidden" name="parent_id" value="{{ comment.id }}">
              <input type="submit" value="Reply" class="btn btn-default">
            </form>
          {% else %}
            <p>You must login to comment</p>
          {% endif %}

        </div>


      </div>

  </article>




{% endblock content %}
