{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title" >{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>

  </article>

<article class="media content-section">
  <div class="media-body">
    <h3>Comments</h3>
    <form method="post" action="">
      {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="submit" value="Post comment" class="btn btn-default">
    </form>

  </div>
</article>

<!-- comments -->

<!-- <div class="media content-section">
  <blockquote>
    <p>{{ comment.content }}</p>
    <footer>via {{ comment.author }} on {{ comment.timestamp|timesince }} ago</footer>
  </blockquote>
</div> -->

{% for comment in comments %}

  <article class="media content-section">


      <div class="media-body">
        {{ comment.content }}
        <br>
        <small>via {{ comment.author }} on {{ comment.timestamp|timesince }} ago</small>


        {% for child_comment in comment.children %}
        <div class="media content-section pt-0 mt-0">
          <div class="media-body">
            <br>{{ child_comment.content }}
            <br>
            <small>via {{ child_comment.author }} on {{ child_comment.timestamp|timesince }} ago</small>
          </div>
        </div>
        {% endfor %}


        <form method="post" action="">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <input type="hidden" name="parent_id" value="{{ comment.id }}">
          <input type="submit" value="Reply" class="btn btn-default">
        </form>


      </div>

  </article>
{% endfor %}

<!-- ff -->



<!-- ff -->
{% endblock content %}
